
#忽略/backend_session_cookie/config
/backend_session_cookie/config

#忽略/backend/config
/backend/config

#忽略node_modules
/backend_session_cookie/node_modules
/my-app/node_modules
/backend/node_modules


